.card {
	display: inline-block;
	margin: 10px;
}

.card:first-child {
	margin-left: 0;
}

.cards {
	white-space: nowrap;
	margin-top: 10px;
}

.cards-wrap {
	overflow: scroll;
}

.heading {
	width: 980px;
	margin: 0 auto;
	color: white;
	margin-top: 25px;
	margin-bottom: 10px;
}

.heading h1 {
	font-weight: 100;
	color: #a9a9a9;
	font-size: 23px;
	margin: 0;
	display: inline;
}

.subheading {
	width: 980px;
	margin: 0 auto;
}
.subheading .key {
	margin: 0;
	font-weight: 100;
	color: rgba(255, 255, 255, 0.29);
	font-size: 20px;
	padding-top: 10px;
}

.sort-by {
	position: relative;
	display: inline-block;
	background: rgba(0, 0, 0, 0.3);
	padding: 5px 10px;
	border-radius: 40px;
	font-weight: 100;
	padding-right: 24px;
	font-size: 13px;
	margin-left: 10px;
	top: -3px;
	color: rgba(255,255,255,.5);
}

.sort-by:after {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid;
	position: absolute;
	right: 10px;
	top: 12px;

}

.sort-by-select {
	background: none;
	-webkit-appearance: none;
	color: transparent;
	border: none;
	border-radius: 30px;
	outline: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
}

.sort-by .sort-type {
	text-transform: capitalize;
}

section {
	padding-bottom: 10px;
}

section:nth-child(2n) {
	background: rgba(0,0,0,.1);
}