.card {
	display: inline-block;
	margin: 10px;
}

.card:first-child {
	margin-left: 0;
}

.cards {
	white-space: nowrap;
	margin-top: 10px;
}

.no-card {
	width: 220px;
	height: 320px;
	font-family: sans-serif;
	-moz-border-radius: 9px;
	border-radius: 9px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: rgba(255, 255, 255, 0.3);
	font-weight: 100;
	border-radius: 9px;
	border: 4px dashed;
	text-align: center;
	padding-top: 143px;
}

.num-selected {
	display: none;
	font-weight: 100;
	font-family: "Open Sans";
	float: right;
	color: rgba(255, 255, 255, 0.5);
	font-size: 15px;
	margin-top: 11px;
	margin-right: 14px;
}

.cards-wrap {
	overflow: scroll;
	clear: left;
	float: left;
	width: 100%;
}

.propose-trade-button {
	float: right;
	outline: none;
}

.heading {
	width: 100%;
	color: white;
	margin-top: 25px;
	margin-bottom: 10px;
	background: #292929;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.heading.fixed {
	position: fixed;
	top: 0;
	z-index: 20;
	margin: 0;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	background: #202020;
	border-top: 4px solid #2c72b3;
}

.heading h1 {
	font-weight: 100;
	color: #a9a9a9;
	font-size: 23px;
	margin: 0;
	display: inline;
	float: left;
	margin-top: 3px;
}

.buy-pack {
	float: right;

}

button .drop {
	width: 35px;
	display: block;
	height: 38px;
	float: left;
	border-left: 1px solid rgba(0, 0, 0, 0.07);
	position: relative;

}

button .drop:after {
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	border-left: 1px solid rgba(255,255,255,.15);
}

.buy-pack-select {
	border-left: 1px solid rgba(0, 0, 0, 0.15);
	background: white;
	opacity: 0;
	cursor: pointer;
	position: absolute;
	right: 0;
	width: 35px;
	height: 38px;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	opacity: 0;
}

.button-drop {
	padding: 0;
	margin: 2px;
	height: 40px;
	margin-left: 10px;
}

.button-drop .label {
	float: left;
	padding: 10px 15px;
}

.button-drop .drop {
	background: url('/static/images/arrow.png');
	background-repeat: no-repeat;
	background-position: center center;


}

.subheading {
	width: 980px;
	margin: 0 auto;
	padding: 15px 0;
}
.subheading .key {
	margin: 0;
	font-weight: 100;
	color: rgba(255, 255, 255, 0.29);
	font-size: 20px;
	padding-top: 10px;
	display: inline;
}

.sort-by {
	position: relative;
	display: inline-block;
	background: rgba(0, 0, 0, 0.3);
	padding: 5px 10px;
	border-radius: 40px;
	font-weight: 100;
	padding-right: 24px;
	font-size: 13px;
	margin-left: 10px;
	top: -3px;
	color: rgba(255,255,255,.5);
	float: left;
	margin-top: 10px;
}

.sort-by:after {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid;
	position: absolute;
	right: 10px;
	top: 12px;
}

.cards-list {
	clear: both;
	width: 980px;
	margin: 0 auto;
	padding-top: 10px;
}
.cards-list .card:first-child {
	margin: 10px;
}

.sort-by-select {

	-webkit-appearance: none;
	border: none;
	border-radius: 30px;
	outline: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
}

.sort-by .sort-type {
	text-transform: capitalize;
}

section {
	padding-bottom: 10px;
	clear: left;

}

section:nth-child(2n) {
	background: rgba(0,0,0,.1);
}