{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='cards.css') }}">

{% endblock %}

{% block js %}
	<script src="{{ url_for('static', filename='cards.js') }}"></script>
	<script>
		window.user = {{ g.user }};
		window.page_user = {{ user.id }};
	</script>

	<script>

		$(function() {

			register("selected", function() {
				var numSelected = $('.num-selected');
				if (selected.length) {
					numSelected.text(selected.length + ' selected');
					numSelected.show();
				}
				else 
					numSelected.hide();
			});

			var $window = $(window),
				$heading = $('.heading').first();
				headerTopEdge = $('.heading').first().position().top;

			$('.propose-trade-button').on('click', function() {
				if (selected.length == 0) {
					alert('You must select cards to trade!');
				}
				else {
					post_to_url('/trade/propose/', {
						cards: selected,
						starting_with: page_user 
					});
				}
			});

			$window.scroll(function() {
				var scrlTop = $window.scrollTop();
				if (scrlTop < headerTopEdge + 50 || scrlTop > headerTopEdge - 50) {
					if (scrlTop >= headerTopEdge) {
						if (!$heading.hasClass('fixed')) $heading.addClass('fixed');
					}
					else {
						$heading.removeClass('fixed');
					}
				}
			});

			$('.sort-by-select').change(function() {
				$('.sort-type').text($(this).val());
				if ($(this).val() == "") {
					window.location.href = window.location.href.replace(/sort\/[a-zA-Z]+/, "");
				}
				else if (/sort\/[a-zA-Z]+/.test(window.location.href)) {
					window.location.href = window.location.href.replace(/sort\/[a-zA-Z]+/, "sort/" + $(this).val());
				}
				else {
					window.location.href = window.location.href + "sort/" + $(this).val();
				}
				console.log(window.location.href);

			});

		});
	</script>
{% endblock %}

{% block body %}

<div class="heading">
	<div class="w">
	{% if is_my_own %}
		<h1>My Cards</h1>
	{% else %}
		<h1>{{user.full_name}}'s Cards</h1>
	{% endif %}

	<div class="sort-by">
		<span>Sort by:</span>
		<span class="sort-type">{{ sort }}</span>
		<select class="sort-by-select">
			<option value="" {% if not sort %}selected{%endif%}>None</option>
			<option value="team" {% if sort=="team" %}selected{%endif%}>Team</option>
			<option value="position" {% if sort=="position" %}selected{%endif%}>Position</option>
			<option value="division" {% if sort=="division" %}selected{%endif%}>Division</option>
			<option value="conference" {% if sort=="conference" %}selected{%endif%}>Conference</option>
		</select>
	</div>
	<button class="propose-trade-button">Propose a Trade</button>
	<span class="num-selected">1 card selected</span>
	</div>
</div>

{% if sort %}

	{% for key, cards in sorted.cards.items() %}

		
		<section class="cf">
			<div class="subheading">
				<h2 class="key">{{key}}</h2>	
			</div>
			<div class="cards-wrap"> 
				<div class="cards">

					{% include "_cards.html" %}

				</div>
			</div>
		</section>
	{% endfor %}
{% else %}

	<div class="cards-list">

		{% include "_cards.html" %}

	</div>
{% endif %}
{% endblock %}