{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='cards.css') }}">
{% endblock %}

{% block js %}
	<script>
		$(function() {
			$('.card').on("click", function(e) {
				$(this).toggleClass("flipped");
			});

			var card = $('.card'),
				cardWidth = card.width(),
				cardHeight = card.height();

			$('.card .front').hover(function() {
				var $this = $(this);
				$(this).stop().find('.caption').slideDown(100, function() {
					//$this.find('.flip').delay(50).slideDown(100);
				});
			}, function() {
				$(this).find('.caption').stop().slideUp();
				//$(this).find('.flip').stop().hide();
			});

			function resizr() {
				var offset = ($(window).width()-980)/2;
				$('.cards').css({marginLeft: offset + "px"});
			};

			$(window).resize(resizr);

			resizr();

			$('.sort-by-select').change(function() {
				$('.sort-type').text($(this).val());
				if (/sort\/[a-zA-Z]+/.test(window.location.href)) {
					window.location.href = window.location.href.replace(/sort\/[a-zA-Z]+/, "sort/" + $(this).val());
				}
				else {
					window.location.href = window.location.href + "sort/" + $(this).val();
				}
				console.log(window.location.href);

			})


			$('.card img').each(function(i, ele) {

				var $this = $(ele);

				$this.load(function() {
					var	width = $this.width(),
						height = $this.height(),
						newWidth = width / (height/cardHeight);

					if (newWidth < cardWidth) {
						$this.width(cardWidth);
					}
					else {
						$this.height(cardHeight);
					}
				});
					
			});
		});
	</script>
{% endblock %}

{% block body %}

<div class="heading">
	{% if is_my_own %}
		<h1>My Cards</h1>
	{% else %}
		<h1>{{user.full_name}}'s Cards</h1>
	{% endif %}

	<div class="sort-by">
		<span>Sort by:</span>
		<span class="sort-type">{{ sort }}</span>
		<select class="sort-by-select">
			<option value="team">Team</option>
			<option value="position" {% if sort=="position" %}selected{%endif%}>Position</option>
			<option value="division" {% if sort=="division" %}selected{%endif%}>Division</option>
			<option value="conference" {% if sort=="conference" %}selected{%endif%}>Conference</option>
		</select>
	</div>
</div>


{% for key, cards in sorted.cards.items() %}

	
	<section>
		<div class="subheading">
			<h2 class="key">{{key}}</h2>
		</div>
		<div class="cards-wrap"> 
			<div class="cards">

				{% for card in cards %}

				<div class="card" data-id="{{ card.card_id }}">
					<div class="side front">
						<img src="{{card.image_url}}">
						<div class="caption">
							<span class="title">{{ card.first_name}} {{card.last_name}} <span class="position">{{card.position}}</span></span>
							<span class="subtitle">{{card.team_name}}</span>
						</div>
						<span class="flip">flip</span>
					</div>

					<div class="side back">
						<div class="heading">
							<img class="image-box">
							<div class="title">{{card.first_name}} {{card.last_name}}</div>
							<div class="subtitle">{{card.team_name}}</div>
						</div>
						<div class="stats">
							Number: {{card.number}}
							Position: {{card.position}}
						</div>
						<span class="flip">flip</span>

					</div>
				</div>

				{% endfor %}

			</div>
			</div>
	</section>
{% endfor %}
{% endblock %}