<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	{% block css %}{% endblock %}

	<script>
		function post_to_url(path, params, method) {
		    method = method || "post"; // Set method to post by default if not specified.

		    // The rest of this code assumes you are not using a library.
		    // It can be made less wordy if you use one.
		    var form = document.createElement("form");
		    form.setAttribute("method", method);
		    form.setAttribute("action", path);

		    for(var key in params) {
		        if(params.hasOwnProperty(key)) {
		            var hiddenField = document.createElement("input");
		            hiddenField.setAttribute("type", "hidden");
		            hiddenField.setAttribute("name", key);
		            hiddenField.setAttribute("value", params[key]);

		            form.appendChild(hiddenField);
		         }
		    }

		    document.body.appendChild(form);
		    form.submit();
		}
	</script>
	{% block js %}{% endblock %}
</head>
	<body>
		<header>
			<div class="w">
				<div class="logo">
					<img src="{{ url_for('static', filename='images/logo.png') }}" alt="" height="40">
				</div> 
			</div>
		</header>
		{% block body %}{% endblock %}
	</body>
</html>