<style>
body {
background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* IE10+ */
background: linear-gradient(135deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.login-form
{
width: 350px;
height: 150px;
position: fixed;
top: 25%;
left: 35%;
line-height: 5em;
padding-left: 90px ;
padding-top: 35px ;
background-color: #2c72b3;
border: solid;
border-color: white;
border-width: 5px;
}
.submit
{
width:40px;
height:35px;
margin-left:15px;

}
input
{
margin-bottom: 10px;
padding-top: 5px;
padding-bottom: 5px;
}
</style>

<div class="login-form">
<form method="POST">
	<input name="email" placeholder="email" type="text">
	<input name="password" placeholder="password" type="password">
	<input class="submit" type="submit" value="Go">
</form>
</div>
