{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block body %}
	
	<div class="login">
	<header>Sign in to Topps</header>
	<form class="login-form" method="POST" action="{{ url_for("login") }}">
		<input name="email" placeholder="Enter your email" type="text">
		<input name="password" placeholder="Enter your password" type="password">
		<input class="submit" type="submit" value="Sign in">
	</form>
	</div>

{% endblock %}